@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  font-family: Roboto;
}

.discover, .ville {
  font-weight: 300;
}

.etablissement h2 {
  font-family: Shrikhand;
}

footer .titre {
  font-family: Shrikhand;
  font-size: 1.3em;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

footer a {
  color: rgb(255, 255, 255);
}

.coeur a {
  color: black;
}

.btn {
  display: flex;
  background-color: #FF79DA;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  color: #fff;
  border-radius: 30px;
  box-shadow: 5px 5px 10px grey;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
header img {
  -o-object-fit: cover;
     object-fit: cover;
  
  height: 60px;
}

header a {
  position: absolute;
  left: 10px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.location {
  display: flex;
  background-color: rgb(234, 234, 234);
  padding-top: 5px;
  padding-bottom: 5px;
}
.location i {
  padding-right: 20px;
}
.location p {
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.reservation {
  background-color: rgb(246, 246, 246);
  padding-bottom: 25px;
  padding-top: 25px;
}
.reservation h2 {
  padding: 5px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
  text-align: center;
}
.reservation p {
  padding: 5px;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
  width: 70%;
}

.fonctionnement {
  margin: 2%;

}
.fonctionnement li {
  background-color: rgb(246, 246, 246);
  margin: 5%;
  padding: 5%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px grey;
}

a li:hover {
  background-color: rgb(245, 237, 255);
}
a li:hover i {
  color: #9356DC;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

ul a{
    width: 33%;
}

i {
  padding-right: 20px;
}

.num {
  background-color: #9356DC;
  color: #fff;
  border-radius: 30px;
  position: relative;
  right: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.partie_supp{
  display: flex;
  flex-direction: row;
}

.restaurant {
  background-color: rgb(246, 246, 246);
}
.restaurant h2 {
  margin: 2%;
  padding-top: 40px;
}

.card {
  background-color: #fff;
  margin: auto;
  margin: 2%;
  border-radius: 20px;
  padding-bottom: 5px;
  box-shadow: 5px 5px 10px grey;
  width: 50%;
}
.card_img {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card_image {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card_new {
  color: rgb(0, 135, 102);
  background-color: #99E2D0;
  position: relative;
  bottom: 165px;
  right: 15px;
  padding: 8px;
  width: 65px;
}

.ville p, h3 {
  /*margin: 0;*/
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*---------page 1 ---------*/
.page2 {
  background-color: rgb(246, 246, 246);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.entete {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.etablissement{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}

.etablissement h2 {
  padding-left: 20px;
}

.border {
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
  position: relative;
  left: 20px;
  top: -10px;
}

.resto{
  display: flex;
  flex-direction: row;
  padding: auto;
}

.resto p{
  overflow: ellipsis;
}

.check_box{
  background-color: #99E2D0;
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  position: relative;
  right: -70px;
}

.check{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 20px;
}

.check .fa-solid.fa-check.fa-xl{
  color : #99E2D0;
  position: relative;
  left:10px;

}

.entrees, .plats, .desserts{
  width:33%;
} 

.entrees__liste, .plats__liste, .desserts__liste {
  background-color: #fff;
  margin: 2%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.entrees p, .entrees h4, .plats p, .plats h4, .desserts p, .desserts h4 {
  padding-left: 20px;
  padding-right: 20px;
}
.entrees__title p, .plats__title p, .desserts__title p {
  border-bottom: #99E2D0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 53, 53);
  color: white;
  /*padding-left: 5%;*/  
}

.fcontent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ftitle{
  display: flex;
  justify-content: center;
}

footer i {
  padding: 0;
  padding-right: 10px;
  height: 20px;
  width: 20px;
}



/*mettre un coeur rempli en fond caché 
et faire le passage d'un a l'autre 
avec opacity ou z-index */
i.fa-regular.fa-heart.fa-2xl {
  position: relative;
  left: 56px;
  z-index: 1;
}

i.fa-solid.fa-heart.fa-2xl.note--full {
  position: relative;
  opacity: 0;
  z-index: 2;
  transition-duration: 0.5s;
  color: #FF79DA;
}
i.fa-solid.fa-heart.fa-2xl.note--full:hover {
  opacity: 1;
}

.entrees__liste, .plats__liste, .desserts__liste {
  position: relative;
  -webkit-animation: move 2s;
          animation: move 2s;
}


@-webkit-keyframes done {}

@keyframes done {}
@-webkit-keyframes move {
  from {
    opacity: 0;
    top: -60px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
@keyframes move {
  from {
    opacity: 0;
    top: -60px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.test {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  background: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform-origin: center;
  -webkit-animation: rotate 2s ease forwards infinite;
          animation: rotate 2s ease forwards infinite;
}

.circle {
  background: blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.circle:nth-child(1) {
  left: -100px;
}

.circle:nth-child(2) {
  left: 100px;
  top: -40px;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */