@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  font-family: Roboto;
}

.discover, .ville {
  font-weight: 300;
}

.etablissement h2 {
  font-family: Shrikhand;
}

footer .titre {
  font-family: Shrikhand;
  font-size: 1.3em;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

footer a {
  color: rgb(255, 255, 255);
}

.coeur a {
  color: black;
}

.btn {
  display: flex;
  background-color: #FF79DA;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  color: #fff;
  border-radius: 30px;
  box-shadow: 5px 5px 10px grey;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px red;
}
header img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
}

header a {
  position: absolute;
  left: 10px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.location {
  display: flex;
  background-color: rgb(234, 234, 234);
  padding-top: 5px;
  padding-bottom: 5px;
}
.location i {
  padding-right: 20px;
}
.location p {
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.reservation {
  background-color: rgb(246, 246, 246);
  padding-bottom: 40px;
  padding-top: 40px;
}
.reservation h2 {
  padding: 5px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
  text-align: center;
}
.reservation p {
  padding: 5px;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
  width: 70%;
}

.fonctionnement {
  margin: 5%;
}
.fonctionnement li {
  background-color: rgb(246, 246, 246);
  margin: 5%;
  padding: 5%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px grey;
}

a li:hover {
  background-color: rgb(245, 237, 255);
}
a li:hover i {
  color: #9356DC;
}

ul {
  list-style-type: none;
  padding: 0;
}

i {
  padding-right: 20px;
}

.num {
  background-color: #9356DC;
  color: #fff;
  border-radius: 30px;
  position: relative;
  right: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.restaurant {
  background-color: rgb(246, 246, 246);
}
.restaurant h2 {
  margin: 5%;
  padding-top: 40px;
}

.card {
  background-color: #fff;
  margin: auto;
  margin: 5%;
  border-radius: 20px;
  padding-bottom: 5px;
  box-shadow: 5px 5px 10px grey;
}
.card_img {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card_image {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card_new {
  color: rgb(0, 135, 102);
  background-color: rgb(153, 226, 208);
  position: relative;
  bottom: 165px;
  right: 15px;
  padding: 8px;
  width: 65px;
}

.ville p, h3 {
  /*margin: 0;*/
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*---------page 1 ---------*/
.page2 {
  background-color: grey;
}

.entete {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.etablissement h2 {
  padding-left: 20px;
}

.entrees__liste, .plats__liste, .desserts__liste {
  background-color: #fff;
  margin: 2%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.entrees p, .entrees h4, .plats p, .plats h4, .desserts p, .desserts h4 {
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding-left: 5%;
}

footer i {
  padding: 0;
  padding-right: 10px;
  height: 20px;
  width: 20px;
}

.note--red {
  color: red;
}

.note--yellow {
  color: yellow;
}

.note--green {
  color: green;
  position: relative;
  right: 56px;
}

.note--full {
  color: blue;
  transition: transform 400ms;
}
.note--full:hover {
  transform: translate(150px, 150px);
}

.testC {
  padding: 50px;
}
.testC p {
  padding: 50px;
}

.note--red {
  border-radius: 10rem;
  cursor: pointer;
  font-size: 3rem;
  overflow: hidden;
  padding: 1.85rem 3rem;
  position: relative;
  transition: transform 450ms, background-color 300ms 150ms;
}
.note--red:hover {
  transform: scale(1.13);
  background-color: yellow;
}/*# sourceMappingURL=main.css.map */