
/*Animation du coeur*/

/*coeur non rempli (z-index 1)*/
i.fa-regular.fa-heart.fa-2xl{
    position:relative;
    left:56px;
    z-index:1; 
}

/*coeur non rempli (z-index 2) + transition 0.5 sec lors + opacity 1 au survol*/
i.fa-solid.fa-heart.fa-2xl.note--full{
    position: relative;
    opacity: 0;
    z-index:2;
    transition-duration: 0.5s; 
    color:$colour-primaire;
    &:hover{
        opacity: 1;
    }
}

/*Animation affichage des menu (translation verticale)*/

@keyframes move{
    from{
        opacity: 0;
        transform:translateY(-50px);
    }
    to{
        opacity: 1;
        transform:translateY(0px);
        
    }
}

/*pas de delai*/
.entrees__liste{
    position:relative;
    animation : move 2s forwards;
    
}

/*delai 0.3s*/
.plats__liste{
    position:relative;
    animation : move 2s 0.3s forwards;
    opacity: 0;
}

/*delai 0.6s*/
.desserts__liste{
    position:relative;
    animation : move 2s 0.6s forwards;
    opacity: 0;  
}

/*Animation de la check box qui arrive (translation horizontale)*/
@keyframes check{
    from{
        width: 0;
    }to{
        width: 80px;
    }   
}

.entrees__liste:hover >.prix_check{
    animation: check 1.5s forwards;   
}

.plats__liste:hover >.prix_check{
    animation: check 1.5s forwards;  
}

.desserts__liste:hover >.prix_check{
    animation: check 1.5s forwards; 
}

/*Animation faisant bouger le check a 360°*/
@keyframes rotateme{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }   
}

.entrees__liste:hover>.prix_check .check_box .check .fa-solid.fa-check.fa-xl{
    animation:rotateme 1.5s;
}

.plats__liste:hover>.prix_check .check_box .check .fa-solid.fa-check.fa-xl{
    animation:rotateme 1.5s;
}

.desserts__liste:hover>.prix_check .check_box .check .fa-solid.fa-check.fa-xl{
    animation:rotateme 1.5s;
}

.prix_check{
    display: flex;
    height: 100px;
    width: 0;
    align-items: center;
    position: relative;
}

.check_box{
    background-color: #99E2D0;
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 20px;
}
  
.check .fa-solid.fa-check.fa-xl{
    color : #99E2D0;
    position: relative;
    left:10px;
    transform-origin: 10px 0px;   
}



/*Apparition progressive de la main page*/
@keyframes appears-reverse{
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}

.corps{
    animation: appears-reverse 4s;
}

/*deisparition progressive du loader*/

@keyframes rotate{
    0%{
        transform: rotate(0deg);
        opacity: 1;
    }

    50%{
        transform: rotate(180deg);
        opacity: 1;
    }

    100%{
        transform: rotate(360deg);
        opacity: 1; /*disparition du loader*/
    }
}

.loader{ 
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:50%;
    left: 45%;
    animation: appears 4s 2s forwards;
    z-index: 2;
}

.container{ 
    background:$colour-secondaire;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform-origin: center;
    animation:rotate 2s ease forwards infinite ;  
}


.circle{
    background:$colour-primaire;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.circle:nth-child(1){
    left:-100px;
}

.circle:nth-child(2){
    left:100px;
    top:-40px;
}

@keyframes appears{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        position: absolute;
    }
}
