footer{
    background-color: rgb(53,53,53);
    color: white;
    padding-left:5%;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;

    p{
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .titre{
        margin-bottom: 20px;
    }

}

footer i{
    padding : 0;
    padding-right: 10px;
    height: 20px;
    width: 20px;
}

.fcontent{
    flex-direction: column;
}

.ftitle{
    text-align: left;
}