header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
  img {
    object-fit: cover;
    width: 50%;
  }
}

header a{
  position: relative;
  right: 60px;
}
  
