header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px red;
  
  img {
    object-fit: cover;
    width: 50%;
  }
}

header a{
  position: absolute;
  left:10px
}
  
