.note--red{
    color:red;
}

.note--yellow{
    color:yellow;
}

.note--green{
    color:green;
    position:relative;
    right:56px;
}

.note--full{
    color:blue;
    
    transition: transform 400ms;

    &:hover{
        transform: translate(150px,150px);
        
        
    }
}

.testC{
    padding:50px;
    p{
        padding:50px;
    }
}


    .note--red {
        border-radius: 10rem;
        cursor: pointer;
        font-size: 3rem;
        overflow: hidden;
        padding: 1.85rem 3rem;
        position: relative;
        transition: transform 450ms, background-color 300ms 150ms;
        &:hover {
            transform: scale(1.13);
            background-color: yellow;
        }

}


