.btn{
    display: flex;
    background-color: $colour-secondaire;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: $colour-white;
    border-radius: 30px;
    background: linear-gradient(to bottom right, $colour-secondaire, $colour-primaire);    
}