.btn{
    display: flex;
    background-color: $colour-secondaire;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    margin: auto;
    color: $colour-white;
    border: solid 2px $colour-secondaire;
    border-radius: 30px;
    
}