$colour-primaire: #9356DC;
$colour-secondaire: #FF79DA;
$colour-tertiaire: #99E2D0;
$colour-back-dark1:rgb(234,234,234);
$colour-back-dark2:rgb(53,53,53);
$colour-back:rgb(246,246,246);
$colour-white: #fff;
$colour-invalid: #DB464B;

